@import "../variables.scss";

.container {
  background-color: $light-green;
  margin-top: 100px;
  height: 100px;
  width: 100vw;
  font-family: "Tomorrow";
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    filter: brightness(0) opacity(0.3);
    height: 32px;
    margin-right: 15px;
  }

  p {
    opacity: 0.65;
  }
}
