@import "../variables.scss";

.container {
  color: $dark-green;
  font-family: "Tomorrow", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  filter: opacity(0.9);

  img {
    height: 32px;
    width: 32px;
    margin: 0 15px 0 5%;
  }
}
